{% extends "base.html" %}

{% block title %}Опрос: {{ question.question_text }}{% endblock %}

{% block content %}
<h1>{{ question.question_text }}</h1>

<form method="post" action="{% url 'polls:vote' question.pk %}">
    {% csrf_token %}
    <div class="list-group mb-3">
        {% for choice in question.choices.all %}
            <label class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="choice" value="{{ choice.pk }}">
                {{ choice.choice_text }}
            </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">Голосовать</button>
    <a href="{% url 'polls:results' question.pk %}" class="btn btn-outline-secondary">Результаты</a>
</form>
{% endblock %}


